@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #3fba02, #0a43bd, #de105f);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/fondo_awajun.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Ajusta este valor para cambiar la transparencia */
    z-index: 1;
}

@keyframes gradientBG {
    0% {
        background-position: center, 0% 50%;
    }
    50% {
        background-position: center, 100% 50%;
    }
    100% {
        background-position: center, 0% 50%;
    }
}
  
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: filter 0.3s ease;
}
  
.filter-open .main-content {
    filter: blur(5px);
}
  
.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
}
  
.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    transition: transform 0.3s ease;
}
  
.filter-open .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
  
.filter-open .menu-toggle span:nth-child(2) {
    opacity: 0;
}
  
.filter-open .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
  
.filter-menu {
    position: fixed;
    top: 0;
    left: -350px;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 999;
}
  
.filter-menu.open {
    left: 0;
}
  
.filter-item {
    margin-bottom: 15px;
}
  
.filter-item label {
    display: block;
    margin-bottom: 5px;
}
  
.filter-item select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
  
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #047278;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.card-container {
    position: relative;
    padding: 0 40px 40px;
    width: 40%;

  }

.card-container span {
    font-size:18px;
    font-weight: bold;
}

.card-container p {
    font-size:13px;
}

.card-container h3 {
    color:rgb(147, 147, 147);
    font-weight: 200;
    font-size: 13px;
}
  
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
    width: 20px;
    height: 30px;
    z-index: 10;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-button-next {
    right: 0;
  }
  

  
.card {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.navigation button {
    padding: 10px 20px;
    background-color: #047278;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.navigation button:disabled {
    background-color: #5f5f5f;
    cursor: not-allowed;
}
  
.empty-state {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
  
h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
  
@media (max-width: 768px) {
    .card-container {
        width: 90%;
    }
}

.filter-menu form {
    margin-top: 40px;
}

  .progress-bar {
    margin-top: 22px;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 0;
    left: 0;
}
  .progress-bar-fill {
    height: 100%;
    background-color: #ffffff;
    transition: width 0.3s ease;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-feature-settings: ;
    font-variant: initial;
    line-height: 1;
    color: aliceblue;
}

.search-bar {
    display: flex;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .search-input-container {
    position: relative;
    flex-grow: 1;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px ;
    font-size: 16px;
  }
  
  .reset-button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #888;
  }
  
  .reset-button:hover {
    color: #333;
  }
 
  
  @media (max-width: 768px) {
    .search-bar input {
        width: 90%;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ddd;
        border-radius: 4px ;
        font-size: 16px;
      }
      .reset-button {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 25px;
        cursor: pointer;
        color: #888;
      }
}
 

.card {
    position: relative;
  }
  
  .audio-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #047278;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .audio-button:hover {
    color: #035c61;
  }